<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Analisa Big Data pada Tumbuhan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container-fluid px-5 py-4">
      <h2 class="text-center pb-3">Analisa Big Data Pada Tumbuhan</h2>
      <div class="content row justify-content-center">
        <div class="right-side col-12 col-md-3">
          <div class="clustering mb-3">
            <h3>Clustering MPP</h3>
            <p>Margin Perdagangan dan Pengangkutan Komoditas Cabai</p>
            <form action="" method="POST">
              <p>Pilih Tahun:</p>

              <ul class="list-group mw-75">
                {% for col in available_columns %}

                <li class="list-group-item">
                  <input
                    type="checkbox"
                    name="columns"
                    value="{{ col }}"
                    id="{{ col }}"
                    {%if
                    col
                    in
                    selected_columns
                    %}
                    checked
                    {%endif%}
                  />
                  <label class="form-check-label" for="{{ col }}"
                    >{{ col }}</label
                  >
                </li>

                {% endfor %}
              </ul>

              <button type="submit" class="btn btn-primary mt-3">
                <i class="fa fa-share"></i>
                Jalankan
              </button>
            </form>
          </div>

          <div class="classification">
            <h3>Klasifikasi</h3>

            <div class="d-flex flex-column gap-2">
              <a href="/klasifikasi-gambar" class="link-secondary"
                >Penyakit Daun Cabai</a
              >
              <a href="/klasifikasi-teks" class="link-secondary"
                >Ulasan Tumbuhan Obat</a
              >
            </div>
          </div>
        </div>
        <div id="map" class="left-side col-12 col-md-9 mt-4 mt-md-0">
          {% if map_html %} {{ map_html | safe }} {% endif %}
        </div>
        <div id="data"></div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
